* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%; /* 10 / 16 = 0.625 = 62.5% */
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
header {
  background-color: #597d5e;
  padding: 1rem;
  color: #fff;
}

header h1 {
  font-size: 3rem;
}

header p {
  font-size: 1.3rem;
}

/* MAP */
.main-map-div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.region-path {
  transition: all 0.3s;
  transform-origin: center;
}

.region-path:hover {
  fill: #597d5e;
  cursor: pointer;
  /* transform: scale(1.007); */
}

.region-label-text {
  stroke: none;
  fill: #161f18;
  font-size: 1.4rem;
  font-weight: bold;
  text-anchor: middle;
  pointer-events: none;
}
