* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%; /* 10 / 16 = 0.625 = 62.5% */
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

h2 {
  font-size: 3.2rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* HEADER */
header {
  background-color: #7d1a1a;
  padding: 1rem;
  color: #fff;
}

header img {
  height: 4rem;
}

header h1 {
  font-size: 3rem;
}

header p {
  font-size: 1.3rem;
}

.container {
  margin: 0 auto;
  max-width: 100rem;
  padding: 2rem;
}

.container--wide {
  margin: 0 auto;
  max-width: 130rem;
  padding: 2rem;
}

/************ MAP ************/
.main-map-div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.region-path {
  transition: all 0.3s;
  transform-origin: center;
}

.region-path:hover {
  fill: #806600;
  cursor: pointer;
  /* transform: scale(1.007); */
}

.region-label-text {
  stroke: none;
  fill: #161f18;
  font-size: 1.4rem;
  font-weight: bold;
  text-anchor: middle;
  pointer-events: none;
}

/************ LANDING PAGE ************/
.landing-page-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}

.landing-info-text {
  color: #6f0000;
  font-size: 6rem;
  text-align: end;
}

/************ DETAILS PAGE ************/
.region-name {
  font-size: 5.2rem;
  margin-bottom: 3rem;
}

.region-flag {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 3rem;
}

.region-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 6rem;
  font-weight: 500;
}

.region-detail-info {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.region-description,
.region-economic,
.region-cultural {
  line-height: 1.4;
  font-weight: 500;
}

.holiday-title {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.holiday-title span {
  display: block;
  text-align: center;
}

.special-day-list {
  margin-bottom: 7rem;
}

.special-day-list li {
  margin-bottom: 3rem;
}

.special-day-title {
  margin-bottom: 1.2rem;
}

.region-holiday-event-info h2 {
  font-size: 4.2rem;
  margin-bottom: 5rem;
}

.region-holiday-event-info h3 {
  font-size: 3.2rem;
  margin-bottom: 3rem;
}

/************ FOOTER ************/
footer {
  background-color: #ddd;
  padding: 1rem;
  color: #fff;
}

.footer-logo img {
  height: 3rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.copyright {
  font-size: 1.2rem;
  color: #6f0000;
  font-weight: 500;
}
