* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%; /* 10 / 16 = 0.625 = 62.5% */
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

h1 {
  font-size: 6rem;
  margin-bottom: 1.8rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

h4 {
  font-weight: 600;
}

p {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  padding: 1.2rem;
  background-color: #597d5e;
  color: #fff;
}

header h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  letter-spacing: 0.3rem;
}

header p {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  letter-spacing: 0.3rem;
}

.container {
  margin: 0 auto;
  padding: 3rem;
  max-width: 100rem;
}

.container--wide {
  margin: 0 auto;
  padding: 3rem;
  max-width: 130rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 1rem;
}

.main-map-div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.region-path {
  transition: all 0.3s;
  transform-origin: center;
}

.region-path:hover {
  fill: #597d5e;
  cursor: pointer;
  /* transform: scale(1.007); */
}

.region-label-text {
  stroke: none;
  fill: #161f18;
  font-size: 1.4rem;
  font-weight: bold;
  text-anchor: middle;
  pointer-events: none;
}
/* HEADER */
.logo-text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* DETAILS PAGE */
.region-flag {
  width: 50%;
  border: 1px solid rgb(68, 68, 68);
  margin-bottom: 1rem;
}

.region-description {
  font-size: 2rem;
  font-weight: 450;
}

.region-holiday-list,
.region-event-list {
  margin-bottom: 2rem;
}

.region-holiday-list-item,
.region-event-list-item {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.region-infos p {
  font-size: 1.5rem;
}
