* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.region-path {
  transition: all 0.3s;
}

.region-path:hover {
  fill: #14531d;
  cursor: pointer;
}

.region-label-text {
  font-family: sans-serif;
  stroke: none;
  fill: black;
  font-size: 15px;
  font-weight: bold;
  text-anchor: middle;
  pointer-events: none;
}
